<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<app-navbar></app-navbar>
<div class="stats-container">
    <div class="today">
        <h2>Hoje</h2>
        <div class="today-values">
            <div class="glucose">
                <span id="blood-glucose">120</span>
                <img src="../../../assets/logos/quadrado-azul.svg" />
            </div>
            <div class="rate">
                <span id="heart-rate">87</span>
                <i class="fa-solid fa-heart"></i>
            </div>
        </div>
        <button class="measure-button" (click)="openModel()">Medir glicemia</button>

        <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Registrar medidas</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModel()"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="inGlucose">
                                <label for="glucose">Glicemia</label>
                                <input type="number" id="glucose" name="glucose" class="form-control" required>
                            </div>

                            <div class="inHeartRate">
                                <label for="heartRate">Frequência cardíaca</label>
                                <input type="number" id="heartRate" name="heartRate" class="form-control" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModel()">Fechar</button>
                        <button type="button" class="btn btn-primary" (click)="addData()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="past-days">
        <h3>Dias passados</h3>
        <ul>
            <li>
                <span class="date">25/05/2024</span>
                <div class="glucose-div-past-days">
                    <span class="glucose">132</span>
                    <img src="../../../assets/logos/quadrado-azul.svg">
                </div>
                <div class="pulse-div-past-days">
                    <span class="pulse">82</span>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </li>
            <li>
                <span class="date">02/06/2024</span>
                <div class="glucose-div-past-days">
                    <span class="glucose">114</span>
                    <img src="../../../assets/logos/quadrado-azul.svg">
                </div>
                <div class="pulse-div-past-days">
                    <span class="pulse">79</span>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </li>
            <li>
                <span class="date">19/07/2024</span>
                <div class="glucose-div-past-days">
                    <span class="glucose">120</span>
                    <img src="../../../assets/logos/quadrado-azul.svg">
                </div>
                <div class="pulse-div-past-days">
                    <span class="pulse">76</span>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </li>

            <!-- Repita o item da lista conforme necessário -->
        </ul>
    </div>
</div>