.notifications-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    padding: 20px;

    .notifications{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}