<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
<nav class="navbar">

    <div class="mobile-menu" id="mobileMenu" *ngIf="isMenuVisible">

        <div class="close" id="btClose" (click)="toggleMenu()">
            <i class="fas fa-times"></i>
        </div>

        <ul class="nav-links-mobile">
            <li><a href="#">Stats</a></li>
            <li><a href="#">Relatórios</a></li>
            <li><a href="#">Notificações</a></li>
            <li><a href="/profile">Meu Perfil</a></li>
        </ul>

    </div>

    <button class="hamburger" id="btHamburger" (click)="toggleMenu()"><i class="fas fa-bars"></i></button>
    
    <div class="logo">
        <img src="../../../assets/logos/horizontal-branco.png"/>
    </div>

    <div class="profile-link-img">
        <a href="/profile"><img src="../../../assets/img/foto-github.jpg"/></a>
    </div>
</nav>
