@import "../../../styles/variables.scss";

.hide{
    display: none !important;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;

    .mobile-menu {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background-color: $primary-color;
        flex-direction: column;
        align-items: center;
        font-size: 1.8rem;
        z-index: 5;
        padding: 10px;

        .close{
            align-self: flex-start;
            font-size: 2rem;
            background: none;
            border: none;
            color: #fff;
            cursor: pointer;
        }

        .nav-links-mobile {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1.2rem;
            width: 80%;
            list-style: none;
            padding: 0;
        }


        .nav-links-mobile li {
            border-bottom: 1px solid #787272;
            padding-bottom: 1.2rem;
        }

        .nav-links-mobile a {
            color: #fff;
            text-decoration: none;
            transition: 0.3s;
        }
    }

    .hamburger{
        font-size: 1.8rem;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    .logo{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        img{
            width: 70%;
            max-height: 100%;
        }
    }

    .profile-link-img{
        margin-bottom: -6px;

        img{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 2px solid $secondary-color;
            object-fit: cover;
            cursor: pointer;
        }
    }
}