@import "../../../styles/variables.scss";

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-section{
        gap: 30px;
        background-color: $primary-color;
        padding: 40px 30px 30px 30px;

        img{
            width: 100%;
        }

        h3{
            align-self: flex-start;
            margin-left: 15px;
            font-weight: 100;
            color: $secondary-color;
        }
    }

    .form-section{
        padding: 40px;

        .buttons{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 20px;

            button{
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                font-weight: 600;
                width: 100%;
                cursor: pointer;
            }

            .login-button{
                background-color: $primary-color;
                color: $secondary-color;
            }

            .register-button{
                background-color: $dark-grey;
                color: $secondary-color;
            }
        }
    }
}
