<app-navbar></app-navbar>
    <div class="profile-container">
        <img src="../../../assets/img/foto-github.jpg">
        <div class="personal-information">
            <h1>Informação pessoal</h1>
            <p>Nome:</p>
            <span>Devysson</span>
            <p>Sobrenome:</p>
            <span>Cardoso</span>
            <p>Email:</p>
            <span>devyssonsc&#64;gmail.com</span>
            <p>Endereço:</p>
            <span>Rua Doutor Júlio de Matos, 431</span>
            <p>Complemento:</p>
            <span>Quarto 208</span>
            <p>Cidade:</p>
            <span>Porto</span>
            <p>País:</p>
            <span>Portugal</span>

        </div>
    </div>
