<app-navbar></app-navbar>
<div class="profile-container">
    <img src="../../../assets/img/foto-github.jpg">
</div>
<div class="personal-information">
    <!-- <h1>Informação pessoal</h1>
    <p>Nome:</p>
    <span>{{name}}</span>
    <p>Sobrenome:</p>
    <span>{{surname}}</span>
    <p>Email:</p>
    <span>{{email}}</span>
    <p>Endereço:</p>
    <span>{{address}}</span>
    <p>Complemento:</p>
    <span>{{complementAddress}}</span>
    <p>Cidade:</p>
    <span>{{city}}</span>
    <p>País:</p>
    <span>{{country}}</span> -->

</div>
