<app-navbar></app-navbar>
<div class="container profile-container">
    <img src="../../../assets/img/foto-github.jpg">
    <div class="personal-information">
        <h1>Informação pessoal</h1>
        <p>Nome:</p>
        <span id="firstname">Devysson</span>
        <p>Sobrenome:</p>
        <span id="lastname">Cardoso</span>
        <p>Email:</p>
        <span id="email">devyssonsc&#64;gmail.com</span>
        <p>Endereço:</p>
        <span id="address">Rua Doutor Júlio de Matos, 431</span>
        <p>Complemento:</p>
        <span id="address-complement">Quarto 208</span>
        <p>Cidade:</p>
        <span id="city">Porto</span>
        <p>País:</p>
        <span id="country">Portugal</span>

    </div>
</div>
